---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=ruby&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CREDENTIALS>", oauth_nonce="6a534223bbd53b785c7b78d68507188d",
        oauth_signature="IydJDOu9bN13A7x%2B8CwlMgUF734%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1507143720", oauth_token="<TWITTER_CREDENTIALS>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 04 Oct 2017 19:02:02 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - 415228212536e5ca3d8eddc8070fa73c
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '142'
      X-Rate-Limit-Reset:
      - '1507144123'
      X-Response-Time:
      - '591'
      X-Transaction:
      - 0051bcbd00303e95
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"created_at":"Wed Oct 04 19:01:44 +0000 2017","id":915653176753303552,"id_str":"915653176753303552","text":"@breakfast_lady
        @wildgypsydancer @itamer @ReallyAmerican1 @DaleMessinger @ChrisMurphyCT @NRA
        Their attempt to appea\u2026 https:\/\/t.co\/NlaFF7YsCz","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"breakfast_lady","name":"breakfastlady","id":223419275,"id_str":"223419275","indices":[0,15]},{"screen_name":"wildgypsydancer","name":"NOLAGirl","id":224115168,"id_str":"224115168","indices":[16,32]},{"screen_name":"itamer","name":"Sarah","id":14189315,"id_str":"14189315","indices":[33,40]},{"screen_name":"ReallyAmerican1","name":"Really
        American","id":767788995962998784,"id_str":"767788995962998784","indices":[41,57]},{"screen_name":"DaleMessinger","name":"Dale
        Messinger","id":463437499,"id_str":"463437499","indices":[58,72]},{"screen_name":"ChrisMurphyCT","name":"Chris
        Murphy","id":150078976,"id_str":"150078976","indices":[73,87]},{"screen_name":"NRA","name":"NRA","id":21829541,"id_str":"21829541","indices":[88,92]}],"urls":[{"url":"https:\/\/t.co\/NlaFF7YsCz","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/915653176753303552","display_url":"twitter.com\/i\/web\/status\/9\u2026","indices":[117,140]}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":915204390449029122,"in_reply_to_status_id_str":"915204390449029122","in_reply_to_user_id":1188087996,"in_reply_to_user_id_str":"1188087996","in_reply_to_screen_name":"Ruby_Royale","user":{"id":1188087996,"id_str":"1188087996","name":"Ruby  Royale","screen_name":"Ruby_Royale","location":"Flea
        Bottom","description":"I always wanted to be a comedian\/writer, but I was
        never suicidal enough to actually pull the trigger. #love\ud83c\udf08 & #resist","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":53,"friends_count":245,"listed_count":0,"created_at":"Sun
        Feb 17 02:30:37 +0000 2013","favourites_count":570,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":567,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"42ADDE","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/913077776604942336\/9QXSgPfR_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/913077776604942336\/9QXSgPfR_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1188087996\/1506303381","profile_link_color":"B30098","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"},{"created_at":"Wed
        Oct 04 19:01:41 +0000 2017","id":915653167836213248,"id_str":"915653167836213248","text":"RT
        @SupitsLexy: You might be out of the competition, but Now magazine love you!
        #RebeccaGrace #Xfactor2017 @beckie_J_G @Ruby_Baxter https:\/\u2026","truncated":false,"entities":{"hashtags":[{"text":"RebeccaGrace","indices":[80,93]},{"text":"Xfactor2017","indices":[94,106]}],"symbols":[],"user_mentions":[{"screen_name":"SupitsLexy","name":"Alex
  [...]
