# Ignore bundler config.
/.bundle
/bin
.ruby-version
/log/*.log
/tmp
/vendor/ruby
/vendor/bundle
/tags
/vendor/gems/**/*tags
/coverage/
/report/
/*rubocop*.yml

# Ignore local gems
Gemfile.local
Gemfile.local.lock

# Ignore elasticbeanstalk
/.elasticbeanstalk

/db/*.sqlite3

/.env*
!.env.example

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
