language: ruby
bundler_args: --without development
cache: bundler
rvm:
  - 2.2
  - 2.1

before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"

script: bundle exec rspec -r turnip/rspec
