// TODO: BEM
.expense-form
  max-width: 300px

.expense-list
  .expense
    margin: 10px 0

    .detail
      font-size: 1.2em
      padding-left: 12px

    .title
      font-size: 1.5em

    .links
      a
        margin-left: 15px
      font-size: 0.7em
      display: inline

.expense-detail
  .links
    margin-top: 10px

.live-preview
  margin: 20px 0

  .detail
    font-size: 1.5em

.week
  padding-bottom: 10px
  .number
    display: inline

.description-filter
  padding-bottom: 10px
  .description
    max-width: 170px
